{% extends "base.html" %}
{% set active_page = "login" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="/styles/login.css" />
{% endblock %}
{% block title %}Login to Big Musicjerk's Homepage{% endblock %}
{% block body %}
  {{ super() }}
   <form action="/login" method="post">
    {% if error is not none %}
      <div class="container">
        <label><b>{{ error }}</b></label>
      </div>
    {% endif %}
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input class="logininput" type="text" placeholder="Enter Username" name="username" required>

      <label for="psw"><b>Password</b></label>
      <input class="logininput" type="password" placeholder="Enter Password" name="password" required>

      <button class="loginbtn" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
{% endblock %}
