{% extends "base.html" %}
{% set active_page = "home" %}
{% block title %}Big Musicjerk's Homepage{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="../styles/homepage.css" />
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <style>
    .chart-container {
      position: relative;
      margin: auto;
      height: 80%;
      width: 80%;
    }
  </style>
{% endblock %}
{% block body %}
  {{ super() }}
  
  <div class="body-div">
    <div class="album-div">
      <h2 style="text-align: center">Previous albums</h2>
      <div class="album-list-div">
        <div class="album-list-head">
          <span class="mandatory-head">Mandatory</span>
          <span></span>
          <span class="optional-head">Optional</span>
        </div>
      </div>
      <ul id="album-list">
        <div class="album-list-div">

          {% for mand, opt in albums %}
          <div style="display: flex; flex-basis: row">
            <div>
              <a href="/albums/{{ mand.url }}">
                <div>
                  <img src="{{ mand.image_url }}" alt="{{ mand.image_description }}" class="old-album-image">
                </div>
              </a>
            </div>
           {% if opt is not none %}
           <div class="optional">
              <a href="/albums/{{ opt.url }}">
                <div>
                  <img src="{{ opt.image_url }}" alt="{{ opt.image_description }}" class="old-album-image">
                </div>
              </a>
            </div>
            {% endif %}
          </div>
          {% endfor %}
          </div>
      </ul>
    </div>

    <div class="this-week-container">
      <div class="this-week">
          <div class="album-header">
            <h2>- This Week's Albums -</h2>
          </div>
          <div class="current-albums">
            <div class="mandatory">
              <p>Mandatory:</p>
              <a href="/albums/{{ albums[0][0].url }}">
                <div>
                  <img src="{{ albums[0][0].image_url }}" alt="{{ albums[0][0].image_description }}" class="current-album-image">
                  <div>
                    <p class="weekly-album-name">{{ albums[0][0].title }}</p>
                    <p class="weekly-album-artist">{{ albums[0][0].artist }}</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="optional">
                <p>Optional:</p>
                <a href="/albums/{{ albums[0][1].url }}">
                  <div>
                    <img src="{{ albums[0][1].image_url }}" alt="{{ albums[0][1].image_description }}" class="current-album-image"  style="height: 400px; width:400px">
                    <div class="album-info">
                      <p class="weekly-album-name">{{ albums[0][1].title }}</p>
                      <p class="weekly-album-artist">{{ albums[0][1].artist }}</p>
                    </div>
                  </div>
                </a>
              </div>
          </div>
          <div>
            <h2>Our Rating Trend:</h2>
            <div class="chart-container">
              <canvas id="ratingTrendChart"></canvas>  
            </div>
          </div>
      </div>
    </div>

    <div class="members-div">
      <h2>Our Members:</h2>

      <ol id="member_list">
      {% for name in members %}
        <li><a href="/users/{{ name.title() }}/">{{ name.title() }}</a></li>
      {% endfor %}
      </ul>
    </div>


  </div>
  <div class="footer">
  <script>
    const albumAverages = {{ albumAverages | safe }}
    const labels = albumAverages.map((_, i) => {
      return i % 10 == 0 ? i : ''
    }) 
    const ctx = document.getElementById('ratingTrendChart').getContext('2d');
    const chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{
          label: "Rating Trend",
          backgroundColor: 'rgba(0, 0, 0, 0)',
          borderColor: 'rgb(255, 99, 132)',
          data: albumAverages,
        }]
      },
      options: {
        scales: {
          xAxes: [{
            gridLines: {
              display:false,
            }
          }]
        }
      }
    });
  </script>
  </div>
{% endblock %}
