{% extends "base.html" %}
{% set active_page = "lyrics" %}
{% block title %}Spotify Lyrics{% endblock %}
{% block head %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="../styles/lyrics.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>
    var access_token;
    var refresh_token;
    var current_song = "";
    var current_lyrics;
    var next_lyrics;
    var queued_checks = 1;
    var old_interval = 0;
    var scroll_time = 0;
    var latest_spotify_request = new Date(new Date().getTime() - 5000);

    function setText(id, text){
      document.getElementById(id).innerHtml = text;
      document.getElementById(id).textContent = text;
    }

    function showLoader(){
      document.getElementById("text2").style.display = "none";
      document.getElementById("loader").style.display = "block";
    }

    function hideLoader(){
      document.getElementById("loader").style.display = "none";
      document.getElementById("text2").style.display = "block";
    }

    function UserAction() {
      window.location.replace("/lyrics/login");
    }

    function GetLyrics(songname, artist, id, cache) {
      $.getJSON('/lyrics/request', data = {
        song: '"' + songname + '"',
        artist: artist,
        id: id,
        cache: cache},
      function(data) {
        if (cache == "yes")
          return;
        var lyrics = data;
        setText('text2', lyrics);
        hideLoader();
      });
    }

    function weakSetSong(){
      var five_seconds_ago = new Date(new Date().getTime() - 5000);
      queued_checks -= 1;
      if (latest_spotify_request > five_seconds_ago){
        if (queued_checks == 0){
          setTimeout(weakSetSong, 5000);
          queued_checks += 1;
        }
        return;
      } else {
        return setSong();
      }
    }

    function updateTokens(){
      $.getJSON('/lyrics/refresh_token?token=' + refresh_token, function(data) {
          access_token = data;
          weakSetSong()
      });
    }

    function autoScroll(){
      if (!document.getElementById('autoscroll').checked)
        clearInterval(old_interval);
      else
        old_interval = setInterval(scroll, scroll_time, current_song);
    }

    function scroll(song){
      if (song != current_song || !document.getElementById('autoscroll').checked){
        return;
      }
      window.scrollBy(0, 1);
    }

    function startScroll(song, total_duration){
      var sleep_time = total_duration * (document.documentElement.clientHeight / 3 / document.body.scrollHeight) - 10000;
      clearInterval(old_interval);
      scroll_time = (total_duration - sleep_time) / (document.body.scrollHeight);
	  setTimeout(function () {
        old_interval = setInterval(scroll, scroll_time, song);
    }, sleep_time)
    }

    function cacheNextSong(album_id, track_number){
      jQuery.ajax({
        url: 'https://api.spotify.com/v1/albums/' + album_id + '/tracks',
        type: 'GET',
        beforeSend: function(xhr) {
          xhr.setRequestHeader("Authorization", "Bearer " + access_token);
        },
        data: {
          offset: track_number,
          limit: "1"},
        success: function(res) {
          if (res.items.length == 0)
            return;
          var songname = res.items[0].name;
          var artist = res.items[0].artists[0].name;
          var id = res.items[0].id
          GetLyrics(songname, artist, id, cache = "yes");
        },
        error: function(res) {
          console.log("Got exception while trying to poll spotify song!");
          console.log(res)
          updateTokens();
        }
      });
    }

    function setSong() {
      latest_spotify_request = new Date()
      jQuery.ajax({
        url: 'https://api.spotify.com/v1/me/player/currently-playing',
        type: 'GET',
        beforeSend: function(xhr) {
          xhr.setRequestHeader("Authorization", "Bearer " + access_token);
        },
        success: function(res) {
          setTimeout(weakSetSong, 5000);
          if (res == null)
            return;
          queued_checks += 1;
          var songname = res.item.name;
          var artist = res.item.artists[0].name;
          var album = res.item.album.name;
          var id = res.item.id
          var album_id = res.item.album.id;
          var track_index = res.item.track_number;
          if (id == current_song){
            return;
          }
          console.log("Detected new song playing! Getting new lyrics...")
          showLoader();
          current_song = id;
          var txt = 'You are listening to: \n' + songname +
                    '\nby ' + artist +
                    '\nAlbum: ' + album;
          setText('maintext', txt);
          GetLyrics(songname, artist, id, cache = 'no');
          setTimeout(startScroll, 10000, id, res.item.duration_ms);
          cacheNextSong(album_id, track_index);
          setTimeout(setSong, res.item.duration_ms - res.progress_ms + 1000);
        },
        error: function(res) {
          console.log("Got exception while trying to poll spotify song!");
          console.log(res)
          updateTokens();
        }
      });
    }
  </script>
{% endblock head %}

{% block body %}
  {{ super() }}
  <nav class="nav" style="position:fixed">
    <h1 id='maintext' style="font-family:verdana; font-size:100%; color:white;">Spotify Lyrics</h1>
    <div><label><input id='autoscroll' onclick="autoScroll()" type="checkbox">Auto-scroll</label></div>
    <button class='button' id="refreshbtn" type="submit" onclick="setSong()"style="vertical-align:middle"><span>Refresh </span></button>
  </nav>

  <article class="article">
    <div id="loader"></div>
    <p id='text2' style="font-family:verdana; font-size:300%; text-align:center; color:white;" class="animate-bottom"></p>
    <button class='button' id="loginbtn" type="submit" onclick="UserAction()" style="vertical-align:middle"><span>Login </span></button>
  </article>

  <script>
    var url = new URL(window.location.href);
    if (url.searchParams.get('access_token')) {
      var loginbtn = document.getElementById('loginbtn');
      loginbtn.parentNode.removeChild(loginbtn);
      access_token = url.searchParams.get('access_token');
      refresh_token = url.searchParams.get('refresh_token');
      console.log('Spotify tokens read.');
      setSong(access_token)
    } else {
      var refreshbtn = document.getElementById('refreshbtn');
      refreshbtn.parentNode.removeChild(refreshbtn);
      setText('text2', "Press login to start.")
    }

  </script>
{% endblock body %}
