<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/styles/default.css" />
  <link rel="icon" type="image/png" href="/data/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/data/favicon-16x16.png" sizes="16x16" />
  <title>Statistics for {{ name.title() }}</title>
</head>
<body>
  <h1> {{ name.title() + ("'s" if name[-1] != 's' else "'") }} ratings: </h1>
  <figure>
    <img src="/data/{{ name }}.png" alt="Ratings for {{ name.title() }}">
  </figure>

   <h1>Comparison for {{ name.title() }}</h1>

    <ol id="comparison_list">
    {% for name, likeness in comparison_list %}
        <li><a href="/users/{{ name }}/">{{ name }}: </a><a>{{ likeness + ('%' if likeness != 'None' else '') }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>
