body{
    font-family: 'Montserrat', sans-serif;
    color: 	#ffffff;
    background-color: #26262b;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}

a:link{
    color: #358cdd;
}