body{
    margin: 0px;
}

.head-text{
    margin: 0;
    padding: 20px;
    padding-left: 8px;
}
.header{
    background-color: rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-div{
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-input{
    border: none;
    font-size: 18px;
    height: 30px;
    padding: 6px;
}

.search-button{
    padding: 6px 10px;
    margin-right: 16px;  
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;    
    height: 42px;
    width: 44px;
}

#album-list{
    padding-left: 0px;
}

.current-album-image{
    height: 400px;
    width: 400px;
}

.album-list-head{
    margin-bottom: 5px;
    display: flex;
    width: 100%;
}

.mandatory-head{
    margin-left: 35px;
}

.optional-head{
    margin-left: 70px;
}

.old-album-image{
    height: 130px;
    width: 130px;
}

.current-album-image{
    height: 400px;
    width: 400px;
}

.body-div{
    margin: 8px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 1080px;
}

.album-list-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-info{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

.this-week-container{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: #2c2f33;
    box-shadow: 0px 0px 15px #1b1a1a inset
}

.album-header{
    text-align: center;
}

.current-albums{
    display: flex;
    flex-direction: row;
   /* background-color: #2c2f33;*/
}

.current-albums a{
    text-decoration: none;
}

.album-div{
    width: 310px;
}

.members-div{
    width: 310px;
}

.members-div h2{
    margin-left: 8px;
}

.weekly-album-name{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 0px;
    text-decoration: none;
}

.weekly-album-artist{
    text-align: center;
    color: #bbbbbb;
    margin-top: 0px;
    margin-bottom: 3px;
    text-decoration: none;
}

.mandatory{
    margin-left:8px;
    margin-bottom: 8px;
}

.optional{
    margin-left:8px;
    margin-bottom: 8px;
    padding-left: 8px;
    border-left: 3px solid  rgba(0,0,0,.1);
}